body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(moon.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(moon.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(moon.jpg);
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 50%;
  transform: translate(0, 50%);
}
.carousel-item {
  height: 80vh;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 80vh;
}
